[user]
	name = qgaye
	email = qgaye0601@outlook.com
[core]
	quotepath = false
	excludesfile = /Users/qgaye/.gitignore_global
	autocrlf = false
[alias]
    st = status
    co = checkout
    ci = commit
    br = branch
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[difftool "icdiff"]
    cmd = icdiff \"$LOCAL\" \"$REMOTE\"

